<div class="example-element-detail">
  <div class="example-element-diagram">
    <div class="example-element-position">{{ element().number }}</div>
    <div class="example-element-symbol">{{ element().symbol }}</div>
    <div class="example-element-name">{{ element().name }}</div>
    <div class="example-element-weight">{{ element().atomic_mass }}</div>
  </div>
  <div class="example-element-description">
    {{ element().summary }}
    <span class="example-element-description-attribution"> -- Wikipedia </span>
  </div>
</div>
