.example-card {
  display: flex !important;
  flex: auto !important;
  flex-direction: column !important;
  min-width: 100px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  color: CanvasText;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.card-content {
  display: flex !important;
  flex: auto !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  overflow: auto;
  max-height: 300px;
}
