<app-filter (valueChange)="applyFilter($event)" />
<div class="column-chooser-container">
  Edit Columns:
  <button
    mat-icon-button
    aria-label="Choose displayed columns"
    data-testid="column-chooser-trigger"
    (click)="isOpen.set(!isOpen())"
    type="button"
    cdkOverlayOrigin
    #origin="cdkOverlayOrigin"
  >
    <mat-icon>filter_alt</mat-icon>
  </button>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayOpen]="isOpen()"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayRestoreFocus]="true"
    (backdropClick)="isOpen.set(false)"
    (detach)="isOpen.set(false)"
  >
    <app-column-select
      [fullListOfColumns]="fullListOfColumns"
      [columnsToDisplay]="columnsToDisplay()"
      (columnsToDisplayChange)="columnsToDisplay.set($event)"
    />
  </ng-template>
</div>
<div class="overflow-auto">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
    <!-- Columns Definitions -->
    @for (column of columnsToDisplay(); track column) {
      <ng-container matColumnDef="{{ column }}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        @if (column === 'name') {
          <td mat-footer-cell *matFooterCellDef class="bg-primary">Total # of elements:</td>
        } @else if (column === 'atomic_mass') {
          <td mat-footer-cell *matFooterCellDef class="bg-primary">{{ dataSource.data.length }}</td>
        } @else {
          <td mat-footer-cell *matFooterCellDef class="bg-primary"></td>
        }
      </ng-container>
    }

    <!-- Expand Column Definition -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="toggleExpanded($event, element)">
          @if (isExpanded(element)) {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef class="bg-primary"></td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand().length">
        <div
          class="example-element-detail-wrapper"
          [class.example-element-detail-wrapper-expanded]="isExpanded(element)"
        >
          <app-periodic-element-detail [element]="element" />
        </div>
      </td>
    </ng-container>

    <!-- Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand(); sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand()"
      class="example-element-row"
      [class.example-expanded-row]="isExpanded(element)"
      (click)="toggleExpanded($event, element)"
      (keydown)="toggleExpanded($event, element)"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    <tr mat-footer-row *matFooterRowDef="columnsToDisplayWithExpand(); sticky: true"></tr>
  </table>
</div>
<mat-paginator
  [pageSize]="25"
  [pageSizeOptions]="[5, 10, 25, 50, 100]"
  aria-label="Select page of elements"
  class="mat-elevation-z8 bg-tertiary"
/>
