/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex {
  display: flex;
  flex: auto;
}

.flex-row {
  display: flex;
  flex: auto;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.max-height-100-percent {
  max-height: 100%;
}

.max-height-100vh {
  max-height: 100vh;
}
